<section id = "banner">
  <div id = "banner-background">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Hello <%= name %>!</p>
  </div>
  <div>
    <h1>등록된 작품수 : </h1>
  </div>
</section>
