<link href="../stylesheets/banner.css" rel="stylesheet">


<section id = "banner">
  <div id = "banner-background">
    <div class="banner-text">
      <h1>아마추어 작가들의 작품들을</h1>
      <h1>합리적인 가격에 구매할 수 있습니다.</h1>
    </div>
  </div>
  <div class="count">
    <h3>등록된 작품수 : <%= artworks.length %> 개  </h3>
    <h3>거래된 작품수 : 0개</h3>
  </div>
</section>
