<section id = "banner">
  <div id = "banner-background">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if(session_email !== undefined ) {%>%>
    <p>Hello <%= session_email %>!</p>
    <%} else {%>
    <p>Hello Guest!</p>
    <%}%>
  </div>
  <div>
    <h1>등록된 작품수 : <%= artworks.length %></h1>
  </div>
</section>
