<section id = "banner">
  <div id = "banner-background">
    <div class="banner-text">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <p>Hello <%= nickname %>!</p>
    </div>

  </div>
  <div class="count">
    <h3>등록된 작품수 : <%= artworks.length %> 개 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 거래된 작품수 : 0개</h3>
  </div>
</section>