<div id='wrapper'>
  <!-- Thumbnails -->
            <section class="thumbnails">
              <div id=1>
                <a href="image/arts/01.jpg">
                  <img src="image/arts/01.jpg" alt="" />
                  <h3>괴물-10000원</h3>
                </a>
                <a href="image/arts/02.jpg">
                  <img src="image/arts/02.jpg" alt="" />
                  <h3>벽-130000원</h3>
                </a>
                <a href="image/arts/01.jpg">
                  <img src="image/arts/01.jpg" alt="" />
                  <h3>괴물-10000원</h3>
                </a>
                <a href="image/arts/02.jpg">
                  <img src="image/arts/02.jpg" alt="" />
                  <h3>벽-130000원</h3>
                </a>
                <a href="image/arts/03.jpg">
                  <img src="image/arts/03.jpg" alt="" />
                  <h3>축제-20000원</h3>
                </a>
                <a href="image/arts/04.jpg">
                  <img src="image/arts/04.jpg" alt="" />
                  <h3>흙-5000원</h3>
                </a>
              </div>
              <div id=2>
                <a href="image/arts/03.jpg">
                  <img src="image/arts/03.jpg" alt="" />
                  <h3>축제-20000원</h3>
                </a>
                <a href="image/arts/04.jpg">
                  <img src="image/arts/04.jpg" alt="" />
                  <h3>흙-5000원</h3>
                </a>
                <a href="image/arts/03.jpg">
                  <img src="image/arts/03.jpg" alt="" />
                  <h3>축제-20000원</h3>
                </a>
                <a href="image/arts/04.jpg">
                  <img src="image/arts/04.jpg" alt="" />
                  <h3>흙-5000원</h3>
                </a>
                <a href="image/arts/05.jpg">
                  <img src="image/arts/05.jpg" alt="" />
                  <h3>밤-23000원</h3>
                </a>
                <a href="image/arts/06.jpg">
                  <img src="image/arts/06.jpg" alt="" />
                  <h3>꽃-30000원</h3>
                </a>
                <a href="image/arts/04.jpg">
                  <img src="image/arts/04.jpg" alt="" />
                  <h3>흙-5000원</h3>
                </a>
                <a href="image/arts/03.jpg">
                  <img src="image/arts/03.jpg" alt="" />
                  <h3>축제-20000원</h3>
                </a>

              </div>
              <div id=3>
                <a href="image/arts/05.jpg">
                  <img src="image/arts/05.jpg" alt="" />
                  <h3>밤-23000원</h3>
                </a>
                <a href="image/arts/06.jpg">
                  <img src="image/arts/06.jpg" alt="" />
                  <h3>꽃-30000원</h3>
                </a>
                <a href="image/arts/05.jpg">
                  <img src="image/arts/05.jpg" alt="" />
                  <h3>밤-23000원</h3>
                </a>
                <a href="image/arts/06.jpg">
                  <img src="image/arts/06.jpg" alt="" />
                  <h3>꽃-30000원</h3>
                  <a href="image/arts/01.jpg">
                    <img src="image/arts/01.jpg" alt="" />
                    <h3>괴물-10000원</h3>
                  </a>
                  <a href="image/arts/02.jpg">
                    <img src="image/arts/02.jpg" alt="" />
                    <h3>벽-130000원</h3>
                  </a>
                  <a href="image/arts/01.jpg">
                    <img src="image/arts/01.jpg" alt="" />
                    <h3>괴물-10000원</h3>
                </a>
              </div>
            </section>

        </section>
</div>
