<link href="stylesheets/footer.css" rel="stylesheet">

<div id="footer">
  <div class="footer-menu">
    <div>
      <ul>
        <li>
          <a href="#">회사소개</a>
        </li>
        <li>
          <a href="#">이용약관</a>
        </li>
      </ul>

  </div>
</div>

  <div class = "Copyright">
    <p>copyright(c)2017 All rights reserved by 36.5도. </p>
  </div>
</div>

<script>
    $("#regist-trigger").click(function(){
        $('#myModal_login').modal('hide');
        $('#myModal_regist').modal('show');
    });

    $("#login-trigger").click(function(){
        $('#myModal_regist').modal('hide');
        $('#myModal_login').modal('show');
    });

    $('#btn-login').on('click', function (e) {
        e.preventDefault();
        $('#authValidCheck').html('');
        if ($('#login-email').val() == '') $('#authValidCheck').html('<span class="label label-danger">이메일을 입력해주세요.</span>')
        else if ($('#login-password').val() == '') $('#authValidCheck').html('<span class="label label-danger">비밀번호를 입력해주세요.</span>')
        else {
            $.ajax({
                type: 'post',
                url: '/auth/login',
                data: {
                    email: $('#login-email').val(),
                    password: $('#login-password').val()
                },
                success: function (data) {
                    if (data.error === 'failedLogin' || data.error === 'userNotFound') {
                        $('#authValidCheck').html('<span class="label label-danger">로그인 정보를 확인해주세요.</span>');
                    } else if (data.success === 1) {
                        location.href = '/';
                    }
                },
                error: function (x, err) {
                    console.log(x);
                    console.log(err);
                }
            });
        }
    });
</script>