<link href="stylesheets/footer.css" rel="stylesheet">

<div id="footer">
  <div class="footer-menu">
    <div>
      <ul>
        <li>
          <a href="/introduce">회사소개</a>
        </li>
        <li>
          <a href="/clause">이용약관</a>
        </li>
        <li>
          <a href="#">개인정보처리방침</a>
        </li>
        <li>
          <a href="#">문의하기</a>
        </li>
      </ul>

  </div>
</div>
<div class="footer-info">
  <div class="footer-logo">
    <a href="#"><img src="../image/36.5_logo.png" alt="logo" width="150px" href="70px"></a>
  </div>
  <div class="footer-info2">
    <ul>
      <li>
        <em>36.5도</em>
      <li>주소 : 서울시 관악구 국회단지 6길 2 202호</li>
      <li>전화 : 010-1111-1111</li>
    </ul>
    <ul>
      <li>
        사업자 번호 : 111-111-1111
      </li>
      <li>
        제휴문의 : oooo@36dot5.com
      </li>
      <li>
        고객센터 : 1111@36dot5.com
      </li>
    </ul>
  </div>
</div>

  <div class = "Copyright">
    <p>copyright(c)2017 All rights reserved by 36.5도. </p>
  </div>
</div>