<link href="stylesheets/footer.css" rel="stylesheet">

<div id="footer">
  <div class="footer-menu">
    <div>
      <ul>
        <li>
          <a href="#">회사소개</a>
        </li>
        <li>
          <a href="#">이용약관</a>
        </li>
      </ul>

  </div>
</div>

  <div class = "Copyright">
    <p>copyright(c)2017 All rights reserved by 36.5도. </p>
  </div>
</div>

<script>
    $("#regist-trigger").click(function(){
        $('#myModal_login').modal('hide');
        $('#myModal_regist').modal('show');
    });

    $("#login-trigger").click(function(){
        $('#myModal_regist').modal('hide');
        $('#myModal_login').modal('show');
    });

</script>