



<!-- login - Modal -->
<div class="modal fade" id="myModal_login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">로그인</h4>
      </div>
      <div class="modal-body">
        <section class="container_login">
          <section class="login-form">
            <div id="authValidCheck"></div>
            <form action="/auth/login" method="post" role="login">
              <input type="email" name="email" id="login-email" placeholder="이메일" required class="form-control input-lg" />
              <input type="password" name="password" id="login-password" placeholder="비밀번호" required class="form-control input-lg" />
              <button type="submit" value="Login" id="btn-login" class="btn btn-lg btn-primary btn-block">로그인</button>
              <div>
                <a href="#">비밀번호 찾기</a>
              </div>
            </form>
          </section>
        </section>
      </div>
    </div>
  </div>
</div>

<!-- regist - Modal -->
<div class="modal fade" id="myModal_regist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">


        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">회원가입</h4>
      </div>
      <div class="modal-body">
        <section class="container_login">
          <section class="login-form">
            <form method="post" action="/auth/regist" role="regist" name="regist">
              <input  id="msg" class="form-control input-lg" type="email" name="email" autofocus placeholder="이메일" required>
              <!-- <input type="text" id="msg" /> -->
              <input type="button" id="ajax_test" value="e-mail 중복체크"/>
              <div id="check_email"></div>
              <input class="form-control input-lg" type="password" name="password" placeholder="비밀번호" required>
              <input class="form-control input-lg" type="password2" name="password2" placeholder="동일한 비밀번호 입력" required>
              <input class="form-control input-lg" type="text" name="nickname" placeholder="닉네임" required>
              <input class="form-control input-lg" type="text" name="major" placeholder="전공" required>
              <% include clause2.ejs %>
                이용약관에 동의합니다.
                <input type="checkbox" name="ok_use" id="agree" value="y" align="right" />
                <input class="btn btn-lg btn-primary btn-block" type="button" value="확인" onclick="check('agree')" value="회원가입">
            </form>
          </section>
        </section>
      </div>
    </div>
  </div>
</div>

<!-- 메일보내기 모달 -->
<div class="modal fade" id="myModal_email" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">메일보내기</h4>
      </div>
      <div class="modal-body">
        <section class="container_login">
          <section class="login-form">
            <form method="post" action="/email/sendemail" role="email">
              <input class="form-control input-lg" type="email" name="email" autofocus placeholder="회신받을 e-mail" required>
              <hr>
              <textarea class="form-control input-lg" name="mail_text" rows="8" cols="100" placeholder="메일내용" required></textarea>
              <hr>
              <input class="btn btn-lg btn-primary btn-block" type="submit" value="보내기">
            </form>
          </section>
        </section>
      </div>
    </div>
  </div>
</div>
<script>
  // <!--email 체크 로직-->
  $('#ajax_test').click(function() {
    $('#result').html('');
    $.ajax({
      url: '/ajax/ajax', //주소
      dataType: 'json', //데이터 형식
      type: 'POST', //전송 타입
      data: {
        'msg': $('#msg').val()
      }, //데이터를 json 형식, 객체형식으로 전송
      success: function(result) { //성공했을 때 함수 인자 값으로 결과 값 나옴
        if (result['result'] == true) {
          $('#check_email').html(result['msg']).css("color","red");
        }else{
          $('#check_email').html(result['msg']).css("color","blue");
        }

      } //function끝
    }); // ------      ajax 끝-----------------
  })
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


<script type="text/javascript">
//동의여부 체크
  function check(id) {
    var agree = document.getElementById(id);
    if (agree.checked) { //동의여부 체크
      regist.submit();
    } else {
      alert("약관에 동의하셔야 회원가입을 하실 수 있습니다");
    }
  }
</script>
