<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="http://127.0.0.1:9000"><img src="../image/picsell_logo.png" alt="logo" height="50px" width="180px"></a>

            <!-- <a class="navbar-brand topnav" href="/"><%= title %></a> -->
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                  <a href="/board_list/board_list"><span >게시판</span></a>
              </li>
                <% if(session_email === undefined) {%>
                <li>
                    <a href="#myModal_regist" data-target="#myModal_regist" data-toggle="modal">
                        <span id="link_regist">회원가입</span>
                    </a>
                </li>
                <li>
                    <a href="#myModal_login" data-target="#myModal_login" data-toggle="modal">
                        <span id="link_login">로그인</span>
                    </a>
                </li>
                <%} else {%>
                <li >
                    <a href="/artwork/regist"><span >작품등록</span></a>
                </li>
                <li >
                    <a href="/auth/logout"><span >로그아웃</span></a>
                </li>
                <%}%>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
