<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
     <link href="stylesheets/reset.css" rel="stylesheet">
     		<!-- 브라우저별 기본 셋팅을 0으로 리셋함 -->
     <link href="stylesheets/style.css" rel="stylesheet">

  <link href="http://fonts.googleapis.com/earlyaccess/jejuhallasan.css" rel="stylesheet">
  <title><%= title %></title>
    <% include auth/favicon.ejs %>

  </head>
  <body>
    <% include auth/nav.ejs %>
    <% include auth/modal.ejs %>
    <% include auth/banner.ejs %>

  <div id="main_text">
  <% include auth/contents.ejs %>
  </div>
  <% include auth/footer.ejs %>
  
  <script>
        $('#btn-login').on('click', function (e) {
            $('#authValidCheck').html('');
            e.preventDefault();
           $.ajax({
               type: 'post',
               url: '/auth/login',
               data: {
                        email: $('#login-email').val(),
                        password: $('#login-password').val()
               },
               success: function (data) {
                    if(data.error === 'failedLogin' || data.error === 'userNotFound'){
                        $('#authValidCheck').html('<span class="label label-danger">로그인 정보를 확인해주세요.</span>');
                    } else if(data.success === 1){
                        location.href = '/';
                    }
               },
               error: function (x, err) {
                    console.log(x);
                    console.log(err);
               }
           });
        });
  </script>
  </body>
</html>
