<!DOCTYPE html>
<html>
  <head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
     <link href="stylesheets/reset.css" rel="stylesheet">
     		<!-- 브라우저별 기본 셋팅을 0으로 리셋함 -->
     <link href="stylesheets/style.css" rel="stylesheet">

  <title><%= title %></title>

  </head>
  <% include auth/hidden.ejs %>
  <body>
    <% include auth/nav.ejs %>
    <% include auth/modal.ejs %>
    <% include auth/banner.ejs %>

  <div id="main_text">
  <div id="contents_text">
    <h1>Hello</h1>
    <h2>아마추어 작가들의 작품중 고퀄의 작품 !!!!</h2>
    <h2>작가들과 직거래 !</h2>
    <h2>다른 아트갤러리보다 저렴한가격 !</h2>

  </div>

  <% include auth/contents.ejs %>
</div>
  </body>
</html>
