#banner-background {
  padding-top: 10rem;
  background-image: url(../image/background.jpg);
  background-position: center center;
  background-size: cover;
  filter: grayscale(30%);
  height: 25rem;
}
#banner {
  text-align: center;
  width:100%;
}
@media only screen and (min-width: 900px) {
  .count > h3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .count > h3 {
    font-size: 15px;
  }
}
#banner .count {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  text-align: center;
  background-color: rgba(204,21,51,0.9);
  display: flex;
}
#banner .banner-text h1,p{
  color: rgba(255,255,255,0.9);
}
#banner .banner-text {
  margin:0 auto ;
}
.count > h3 {
  margin: 0 auto;
  color: #fff;
}
