#footer{
  position:relative;
  width:100%;
  margin:30px 0 0;
  background:#fff;
  line-height: 20px;
}
#footer .Copyright>p{
  color: black;
}
#footer .Copyright{
  text-align: center;
  padding-top:2rem;
}

.footer-menu{
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.footer-menu ul{
  margin: 0 auto;
  overflow: hidden;
  padding-left: 0;

}
.footer-info2{
    display: inline-block;
    padding-left: 5rem;
}
.footer-menu li{
  float:left;
  padding: 1rem 0 1rem 2rem;
  list-style: none;

}
.footer-info{
  height: 100%;
  padding-top: 10rem;
  position: relative;
  display: flex;
  width: 70%;
  margin: 0 auto;
}
.footer-info li{
  margin-bottom: 1rem;

}
.footer-info em{
  font-weight: bold;
}
@media (min-width: 400px) {
.footer-info2>ul{
  display:inline-block;
}
}
@media (max-width: 600px) {
  .footer-info{
display: block;
  }
}
.footer-logo{
  padding-bottom: 3rem;
  padding-left: 50px;
}
